.removegroup {
  padding-top: 0.5em;
  color: red;
}

textarea.form-control {
  height: 8em;
  resize: none;
}

#emailTemplateModal .modal-body {
height: 300px;
overflow: scroll;
}
.filetree-basic{
height: 300px;
}

#templatename{
  color: #3A80A7;
  font-weight: bold;
}

#templatediv{
  cursor: pointer;
}