/* Adjust checkbox CSS for iCheck with Bootstrap */
.checkbox label, .radio label {
  padding-left: 0px;
  padding-top: 5px;
  font-weight: 700;
}

.actionicon {
opacity: 0.35;
cursor: pointer;
color: black;
}

.actionicon:hover {
opacity: 0.8;
}

.disabledicon {
opacity: 0.1;
cursor: not-allowed;
color: black;
}

.removegroup {
  padding-top: 0.5em;
  color: red;
}

button.btn.dropdown-toggle.btn-default {
  background-color: white;
}

button.btn.dropdown-toggle.btn-default:hover{
  background-color: white;
}

#emailTemplateModal .modal-body {
max-height: 800px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.selectactionmenu {
  display: none;
}

.menupluginiconspace {
  display: inline-block;
  width: 1.6em;
}

.menupluginicon {
  width: 1em;
  height: 1em;
  vertical-align: sub;
}

.pluginiconspace {
  display: inline-block;
  width: 1.3em;
}

.pluginicon {
  width: 1em;
  height: 1em;
}

body.wait *, body.wait
{
    cursor: progress !important;
}