#filelist{
  min-height: 8em;
  padding-bottom: 7px;
}

#filelist table{
  width: 100%;
}

#filelist td{
  padding-top: 5px;
  /*max-width: 0;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#filelist td.date{
  text-align: left;
  width: 8em;
  padding-right: 5px;
}

#filelist td.filename{
  text-align: left;
}

#filelist td.size{
  text-align: right;
  width: 4em;
  padding-right: 5px;
}

#filelist td.actions{
  text-align: right;
  width: 2.5em;
}

.filemessage{
  text-align: center;
  margin-top: 3em;
  color: black;
}

.fileerror{
  text-align: center;
  margin-top: 3em;
  color: red;
}

#backup_close{
  display: none;
}

#backupprogressdiv{
  margin-top: 10px;
}

#backupprogress{
  width: 0%;
  min-width: 2em;
}

#backupwarning{
  color: red;
  margin-top: 5px;
  margin-bottom: 25px;
}