.help-block{
  margin-bottom: 0px;
}

.helptext{
  color: gray;
  padding-top: 0.5em;
  margin-bottom: 0px;
  font-size: smaller;
}

.templatename{
  color: #3A80A7;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.settingstitle{
  margin-bottom: 20px;
}

hr.settings {
  border-top: 1px dashed #8c8b8b;
  margin-top: 5px;
  margin-bottom: 15px;
}

span.light{
  font-weight: normal;
}

label.cusfield{
  text-align: right;
  padding-top: 0.5em;

}

