#htmlmodediv {
}
#textmodediv {
  display: none;
}

#templateeditortext {
  height: 300px;
}

#filenamelabel {
  color: #408EBA;
  font-size: 16pt;
  margin-top: 0px;
  margin-bottom: 5px;
}

.scrollable123-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.dropdown-header {
  color: #777;
  font-size: 14px;
  font-weight: bold;
  background-color: #F0F0F0;
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }

#resultsendemail1{
 padding-top: 10px;
 padding-bottom: 0px;
}

#sentprogressdiv{
  margin-top: 10px;
}

#sentprogress{
  width: 0%;
  min-width: 2em;
}

.info table, th, td {
}
.info th, td {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#statustext{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  color: #408EBA;
}

#sendselected2_continue{
  display: none;
}

#sendselected2_close{
  display: none;
}


