#formlist{
  min-height: 8em;
  padding-bottom: 7px;
}

#formlist table{
  width: 100%;
  table-layout: fixed;
}

#formlist td{
  padding-top: 5px;
/*  max-width: 0; */ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



#formlist td.formname{
  text-align: left;
}


#formlist td.actions{
  text-align: left;
  width: 8em;
}

.formmessage{
  text-align: center;
  margin-top: 3em;
  color: black;
}

.formerror{
  text-align: center;
  margin-top: 3em;
  color: red;
}

.delcb{
  vertical-align: top;
}

.restorelink{
  font-size: smaller;
  padding-top: 0.7em;
}