textarea.form-control {
  font:normal 9pt Courier New, Courier, monospace;
  color: #2709a1;
  resize: none;
}

p.hanging-indent
{
  text-indent : -2em ;
  margin-left :  2em ;
  margin-top: 0;
  margin-bottom: 0;
}

