#grouplist{
  min-height: 8em;
  padding-bottom: 7px;
}

#grouplist table{
  width: 100%;
  table-layout: fixed;
}

#grouplist td{
  padding-top: 5px;
/*  max-width: 0; */ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#grouplist td.groupname{
  text-align: left;
  font-weight: 600;
}

#grouplist td.groupdescription{
  text-align: left;
}

#grouplist td.actions{
  text-align: left;
  width: 6em;
}

.groupmessage{
  text-align: center;
  margin-top: 3em;
  color: black;
}

.grouperror{
  text-align: center;
  margin-top: 3em;
  color: red;
}

.delcb{
  vertical-align: top;
}

