.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*allow scrolling in bootrap modal*/
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.removegroup {
  padding-top: 0.5em;
  color: red;
}

#usergroupsformgroup{
  margin-bottom: 0px;
}

div#importdata{
  display: none;
}

#importdata p {
  font-weight: bolder;
}

.importdatawarn {
  color: #FF0000;
}

#logcontent p {
  line-height: 1.3em;
  margin-bottom: 0;
}