#siteloktable tr td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#siteloktable_info {
  text-align: left;
}

#usersfiltered {
  font-weight: bold;
  cursor: pointer;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.top-buffer { margin-top:20px; }

.lighter { font-weight: normal ; }



/*Fix for showing help with inline forms*/
@media (min-width: 768px) {
  form.form-inline .form-control, 
  form.form-inline .form-group,
  form.form-inline .control-label
  {
    vertical-align: top;
  }
  .help-block {
    max-width: 196px; 
  }
}

.control-label {
  padding-top: 0.5em;
}

.help-block{
  margin-bottom: 0px;
}

.formerrormsg {
  color: red;
}

.removefilter {
  padding-top: 0.5em;
  color: red;
}

#filter2block {
  display: none;
}

#filter3block {
  display: none;
}

#filter4block {
  display: none;
}

/*allow scrolling in bootrap modal*/
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

#activitycontent p {
  line-height: 1.3em;
  margin-bottom: 0;
}

