div#previewbox.box{
    position: static;
} 

@media (min-width: 1200px) {
  div#previewbox.box{
    position: fixed;
    width: 40%;
  }
}

#togglefixed {
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 3px;
}

#toggleicon {
  font-size: 8pt;
  opacity: 0.5;
  cursor: pointer;
  color: black;
}

#formpreview{
  cursor: pointer;
  margin-left: 4em;
}

.panel-heading{
  cursor: pointer;
}
 
span.glyphicon.glyphicon-plus{
  vertical-align: baseline;
  font-size: 12px;
  color: #585858;
}

span.glyphicon.glyphicon-minus{
  vertical-align: baseline;
  font-size: 12px;
  color: #585858;  
}

#formissues{
  display: none;
}

.selectemailtemplate{
  margin-left: 2em;
  color: #367fa9;
  cursor: pointer;
}

/*The CSS below is for the form preview*/

div#slform{
  float: left;
  border: none;
  padding: 0;
  margin: 0;
  width: 99%;
  max-width: 400px;
  min-width:200px;
}

label em{
  margin-left: 2px;
  color:red;
  font-size: 8px;
}

/* Text fields */
div.sltextfield {
  margin-bottom: 20px;
}

div.sltextfield label {
  display: block;  
  font:bold 10pt arial, sans-serif;
  margin-bottom: 2px; 
}

div.sltextfield input[type="text"],input[type="password"] {
  border:1px solid rgba(197,191,191,0.35);
  background:#ffffff;
  font:normal 10pt arial, sans-serif;
  color: #555555;
  margin: 0;
  padding: 0.3em;
  width:99%;
  -moz-border-radius: 0px;
  -khtml-border-radius:0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
}


/* Radio fields */
div.slradiofield {
  margin-bottom: 20px;
}

div.slradiofield label {  
  display: inline;
  font:normal 8pt arial, sans-serif;
  vertical-align: middle;
}

div.slradiofield input {
  margin-left: 0;
  font:normal 8pt arial, sans-serif;
  vertical-align: middle;
  margin-top: -2px;
}

/* Checkbox fields */
div.slcbfield {
  margin-bottom: 20px;
}

div.slcbfield label {  
  display: inline;
  font:bold 10pt arial, sans-serif;
  vertical-align: middle;
}

div.slcbfield input {
  margin-left: 0;
  font:bold 10pt arial, sans-serif;
  vertical-align: middle;
  margin-top: -1px;
}

/* Select fields */
div.slselectfield {
  margin-bottom: 20px;
}

div.slselectfield label {
  display: block;  
  font:bold 10pt arial, sans-serif;
  margin-bottom: 2px; 
}

div.slselectfield select {
  border:1px solid rgba(197,191,191,0.35);
  background:#ffffff;
  font:bold 10pt arial, sans-serif;
  color: #555555;
  margin: 0;
  padding: 2px;
  -moz-border-radius: 0px;
  -khtml-border-radius:0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Simple label fields */
div.sllabelfield {
  margin-bottom: 20px;
}

/* Captcha fields */
div.slcaptchafield {
  margin-bottom: 20px;
}

div.slcaptchafield input[type="text"] {
  border:1px solid rgba(197,191,191,0.35);
  background:#ffffff;
  font:normal 10pt arial, sans-serif;
  color: #555555;
  margin: 0;
  padding: 0.3em;
  width:4em;
  -moz-border-radius: 0px;
  -khtml-border-radius:0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.slcaptchafield label {
  display: block;  
  font:bold 10pt arial, sans-serif;
  margin-bottom: 2px; 
}

div.slcaptchafield img{
  vertical-align: top;
}

/* File fields */
div.slfilefield {
  margin-bottom: 20px;
}

div.slfilefield label {
  display: block;  
  font:bold 10pt arial, sans-serif;
  margin-bottom: 2px; 
}

div.slfilefield input[type="file"]{
  background:#ffffff;
  font:normal 10pt arial, sans-serif;
  color: #555555;
  margin-left: 0;
  padding: 2px;
  width:100%; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Textarea fields */
div.sltextareafield {
  margin-bottom: 20px;
}

div.sltextareafield label {
  display: block;  
  font:bold 10pt arial, sans-serif;
  margin-bottom: 2px; 
}

div.sltextareafield textarea {
  border:1px solid rgba(197,191,191,0.35);
  background:#ffffff;
  font:normal 10pt arial, sans-serif;
  color: #555555;
  margin: 0;
  padding: 0.3em;
  width:99%;
  height: 4em;
  resize: none:
  -moz-border-radius: 0px;
  -khtml-border-radius:0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
}

div.slmsg {  
  padding: 0;
  margin: 0;
  text-align: left;
  color: #FF0000;
  font:bold 10pt arial, sans-serif;
}

div.slformmsg {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
  color: #FF0000;
  font:bold 12pt arial, sans-serif;  
}

/*
div#slbuttondiv {
  float: left;
}

div#forgotdiv {
  float: left;
  vertical-align: middle;
}
*/

a#slforgot{
  color: white;
  font: bold 14px Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

p#slsignup{
  text-align: left;
  padding: 0;
  margin: 0 0 0 0;
}

p#slsignup a{
  color: orange;
  font: bold 16px Arial, Helvetica, sans-serif;
  text-align: left;
  text-decoration: underline;
}

/* Button from http://www.bestcssbuttongenerator.com */
.myButton {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378ee5), color-stop(1, #79bcff));
  background:-moz-linear-gradient(top, #378ee5 5%, #79bcff 100%);
  background:-webkit-linear-gradient(top, #378ee5 5%, #79bcff 100%);
  background:-o-linear-gradient(top, #378ee5 5%, #79bcff 100%);
  background:-ms-linear-gradient(top, #378ee5 5%, #79bcff 100%);
  background:linear-gradient(to bottom, #378ee5 5%, #79bcff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378ee5', endColorstr='#79bcff',GradientType=0);
  background-color:#378ee5;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  border: none;
  margin: 0 5px 5px 0;
/*
  text-shadow:0px 1px 0px #ffffff;
*/

}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bcff), color-stop(1, #378ee5));
  background:-moz-linear-gradient(top, #79bcff 5%, #378ee5 100%);
  background:-webkit-linear-gradient(top, #79bcff 5%, #378ee5 100%);
  background:-o-linear-gradient(top, #79bcff 5%, #378ee5 100%);
  background:-ms-linear-gradient(top, #79bcff 5%, #378ee5 100%);
  background:linear-gradient(to bottom, #79bcff 5%, #378ee5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bcff', endColorstr='#378ee5',GradientType=0);
  background-color:#79bcff;
}
.myButton:active {
  position:relative;
  top:1px;
}
/* End of button */