#pluginlist{
  min-height: 8em;
  padding-bottom: 7px;
}

#pluginlist table{
  width: 100%;
  table-layout: fixed;
}

#pluginlist td{
  padding-top: 10px;
/*  max-width: 0; */ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pluginlist td.pluginname{
  text-align: left;
  font-weight: 600;
}

#pluginlist td.pluginnamedisabled{
  text-align: left;
  font-weight: 300;
}

#pluginlist td.pluginnewversion{
  padding-top:0px;
  color: orange;
  font-weight: bold;
}

#pluginlist td.actions{
  text-align: left;
  width: 6em;
}

#pluginlist .plicon{
  margin-top: -4px;
  width: 16px;
  height: 16px;
}

.pluginmessage{
  text-align: center;
  margin-top: 3em;
  color: black;
}

.pluginerror{
  text-align: center;
  margin-top: 3em;
  color: red;
}

.enabledicon{
  padding-left: 1px;
}

.uninsticon{
  vertical-align: -1px;
}

.updateicon{
  vertical-align: -2px;
}


