.selform{
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 4px;
}

.editform{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
}

.deleteform{
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.duplform{
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.codeform{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
}

.formdesc{
	font: 10pt arial, sans-serif;
	color: #373737;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
}

.addform{
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
}

.addformtext{
	padding-left: 1px;
	padding-right: 0px;
	padding-top: 2px;
  padding-bottom: 2px;
	font: 10pt arial, sans-serif;
	color: #373737;
}

div.restore{
  text-align: right;
}

a.restore{
	font: 8pt arial, sans-serif;
	color: #bebcbc;
}

a {
  text-decoration: none;
}

textarea{
  width: 300px;
}

textarea.errorfield{
  border:1px solid red;
}
