div.pluginenabled {
  clear: both;
  float: left;
  _float: none; /* IE6 */
  width: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}
div.pluginconfigure {
  float:left;
  width: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
	cursor: pointer;   
}
div.pluginicon {
  float:left;
  width: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
}
div.pluginname {
  float:left;
  margin-left: 5px;
  margin-bottom: 5px;
}
input[type="checkbox"]{
  padding: 2px;
	margin-top: 1px;
}


