@font-face {
    font-family: 'Frutiger LT Std 45 Light';
    src: url('frutiger_light-webfont.eot');
    src: url('frutiger_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('frutiger_light-webfont.woff') format('woff'),
         url('frutiger_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger LT Std 55 Roman';
    src: url('frutiger_roman-webfont.eot');
    src: url('frutiger_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('frutiger_roman-webfont.woff') format('woff'),
         url('frutiger_roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
