.textplaylist
{
	border:1px solid #7a7a7a;
}

.textplaylist{
	font-size:12px;
	background:#000 url(/playlist_bg.png);
	border-top:none;
	padding:5px;
}

.textplaylist a
{
	text-decoration:none;
	color:#fff;	
	float:left;
	margin-right:1%;
	padding:10px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #7a7a7a;
	background:#333;
	-moz-outline-style: none;
}

.textplaylist a.playing {
	font-weight:bold;
	border:1px inset #7a7a7a;
	color:#cc9a34;
}

.textplaylist a.paused{
	font-weight:bold;
	border:1px inset #7a7a7a;
	color:#cc9a34;
}

.textplaylist a:hover
{
	background:#444;
}

.thumbsplaylist a
{
	float:left;
	padding:4px;
	border:none;
	-moz-outline-style: none;
}

.thumbsplaylist a.playing {
	border:1px inset #7a7a7a;
	color:#cc9a34;
}

.thumbsplaylist a:hover
{
	background:#444;
}
