.form-group-header {
    text-align:center!important; 
    border-bottom: 0;
    font-size: 26px!important;
    padding: 10px 0 10px 10px;
    font-style: normal !important;
    font-family: tahoma, sans-serif !important;
    text-transform: uppercase;
}

.padded-bottom {
    padding-bottom: 20px;
}

.custom_pn_submit {
    width: 100px;
    background-color: #eee;
    border: none;
    font-size: 13px;
    color: #333;
    height: 30px;
    cursor: pointer;
    font-family: tahoma, sans-serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #cccccc;
    -webkit-box-shadow: 1px 1px 3px #cccccc;
    float: right;
}