/* CSS Document */

/* ========================================================================= COLORS ===
#2f3a56; blue
#00b1ed; light blue
#000000; black

*** grays ***
#f6f6f6; blocks
#eaeaea; banner
#d0d0d0; strokes & borders

=== */
*{margin:0;}
/**, *:after, *:before {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}*/
body{
	margin:0;
	/*background:#2f3a56 url(../images/main-bg.jpg) left top repeat;*/

	font-family: tahoma, sans-serif !important;
	font-size:77%;}
	
.clear{
	clear:both;}
	
	
/* =============================================================================================== HEADER/NAVIGATION === */
/* ------ header */
#header-ea{
	width:auto;
height:165px;
 background:url(../images/headerea-bg.gif) left bottom repeat-x;}
	
#header-ff{
	width:100%;
	float:left;
	height:34px;
background: #3a3a3a; /* Old browsers */
background: -moz-linear-gradient(top,  #3a3a3a 0%, #595959 52%, #595959 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(52%,#595959), color-stop(100%,#595959)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3a3a3a 0%,#595959 52%,#595959 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3a3a3a 0%,#595959 52%,#595959 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3a3a3a 0%,#595959 52%,#595959 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3a3a3a 0%,#595959 52%,#595959 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#595959',GradientType=0 ); /* IE6-9 */

}
	
#headercontainer{
	width:980px;
	margin:0 auto;}
	
#headercontainer ul{list-style:none; margin:0; padding:0;}	
#headercontainer li{float:left; line-height:34px; }
#headercontainer li:first-child{;}
#headercontainer li a{ display:inline-block; text-decoration:none; padding:0 25px; color:#fff; font-size:12px; line-height:15px; border-right:1px solid #878787;}
	
#logo{
	width:520px;
	height:100px;
	margin:0;
	padding:8px 0 4px;
	float:left;}
	
#phone{
	width:460px;
	margin:0;
	padding:0;
	float:right;}
	
#phone h2{

	font-size:1.6em;
	margin:67px 0 7px;
	padding:0;
	text-align:right;
	color:#00b1ed;
	font-weight:normal;}
	
#phone h2 .number{
	color:#000;}
	
#logout_panel{ width:40px; float:right; padding-top:10px; padding-right:10px; margin-right:30px; margin-left:10px;}
#logout_panel a{color:#fff; text-align:center;border:none;padding:0 12px; line-height:28px; display:inline-block; text-decoration:none; font-size:11px; text-transform:uppercase; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:1px solid #fff;}
#logout_panel a:hover{background-color:#00b1ed; cursor:pointer;}
	
#navigation{
	width:980px;
	margin:0;
	padding:0;
	float:right;}
	
#navigationcontainer{
	width:980px;
	height:31px;
	margin:0;
	background:url(../images/navigation-bg.png) 0 0 no-repeat;
	z-index:5000;
	font-family:Arial, Helvetica, sans-serif;}
	
ul.menu{
	list-style:none;
	margin:0;
	padding:0;}
	
ul.menu *{
	margin:0;
	padding:0;}
	
ul.menu a{
	display:block;
	color:#2f3a56;
	text-decoration:none;
	width:auto;}
	
ul.menu li{
	position:relative;
	float:left;
	margin-right:0;}
	
/* drop downs */
ul.menu ul{
	position:absolute;
	top:31px;
	left:0px;
	background:#000;
	display:none;
	list-style:none;}
	
ul.menu ul li{
	position:relative;
	border:1px solid #212121;
	border-top:none;
	width:240px;
	margin:0;
	z-index:6000;}
	
ul.menu ul li a{
	display:block;
	font-size:0.95em;
	padding:4px 8px 5px;
	background:#000;
	color:#d2d2d2;}
	
ul.menu ul li a:hover{
	color:#fff;
	background-color:#00b1ed;}
	
ul.menu ul ul{
	left:240px;
	top:0;}
	
/* menu links */
ul.menu .menufirst{ /* for the first menu item */	
	padding:8px 27px 8px 28px;
	font-weight:normal;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:bold;
	color:#000;}
	
ul.menu .menufirst:hover{
	color:#fff;
	background:url(../images/navigation-bg.png) 0 -31px no-repeat; /* 0 -31px = left bottom */}
	
ul.menu .menulink{ /* for the middle menu item */
	padding:8px 26px 8px 26px;
	font-weight:normal;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:bold;
	color:#000;}
	
ul.menu .menulink:hover{
	color:#fff;
	background:url(../images/navigation-bg.png) -31px -31px no-repeat; /* 0 -31px = left bottom */}
	
ul.menu .menulast{ /* for the last menu item */
	padding:8px 28px 8px 28px;
	font-weight:normal;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:bold;
	color:#000;}
	
ul.menu .menulast:hover{
	color:#fff;
	background:url(../images/navigation-bg.png) -835px -31px no-repeat; /* 0 -31px = left bottom */}
	
ul.menu .menulinkdivide{
	background:url(../images/navigation-divide.png) right top repeat-y;
	width:2px;
	height:31px;}
	

/* =============================================================================================== BANNER === */
/* ------ banner */
#banner{
	width:auto;
	background:#eaeaea;
	border-bottom:1px solid #d0d0d0;}
	
#bannercontainer{
	width:980px;
	height:291px;
	margin:0 auto;
	background:url(../images/banner-bg.jpg) right top no-repeat;
	padding-top:37px;}
	
#bannercontainer h1{
	font-size:2.4em;
	margin:0;
	padding:0;
	text-align:left;
	color:#00b1ed;
	font-weight:normal;}
	
#bannercontainer h4{
	font-size:1.7em;
	color:#00b1ed;
	font-weight:normal;
	margin:5px 420px auto 0;
	padding:0;
	text-align:right;}
	
#bannercontainer p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	color:#777;
	line-height:1.4em;
	text-align:left;
	margin:0 420px 0 0;}
	
#bannercontainer a:link,
#bannercontainer a:visited{
	color:#777;
	text-decoration:none;}
	
#bannercontainer a:hover,
#bannercontainer a:active{
	color:#d53027;
	text-decoration:none;}
	
	
/* =============================================================================================== BLOCKS === */
/* ------ home page blocks */
#blocks{
	width:auto;
	height:385px;
	background:#f6f6f6 url(../images/blocks-bg.gif) left bottom repeat-x;
	position:relative;
	z-index:100;}
	
#blockscontainer{
	width:980px;
	margin:0 auto;}
	
#blockscontainer h1{
	font-size:1.6em;
	margin:0 auto 3px 0;
	padding:5px 5px 4px;
	text-align:left;
	color:#fff;
	background:#00b1ed;
	font-weight:normal;}
	
#blockscontainer p{
	color:#545454;
	margin:0 4px 0 auto;
	line-height:17px;
	font-size:1.1em;
	text-align:left;}
	
#blockscontainer img.left{
	margin-right:-20px;
	margin-bottom:-14px;
	position:relative;
	z-index:-10;}
	
#blockscontainer img.center{
	margin-right:-18px;
	margin-left:-25px;
	margin-top:3px;
	padding-bottom:10px;
	position:relative;
	z-index:-10;}
	
#blockscontainer img.right{
	margin-right:-5px;
	margin-bottom:-14px;
	position:relative;
	z-index:-10;}
	
#blockleft,
#blockmiddle{
	width:320px;
	height:250px;
	margin:0 5px 0 0;
	padding:0;
	float:left;
	padding:5px 5px 0 0;}
	
#blockright{
	width:320px;
	height:250px;
	margin:0;
	padding:0;
	float:left;
	padding:5px 0 0 0;}
	
#blockleft{
	/*background:url(../images/surveyblock-img.jpg) 118px 110px no-repeat;*/}
	
#blockmiddle{
	/*background:url(../images/directionaldrillingblock-img.jpg) 188px 35px no-repeat;*/}
	
#blockright{
	/*background:url(../images/surfacesystemblock-img.jpg) 180px 58px no-repeat;*/}
	
	
/* =============================================================================================== CONTENT === */
/* ------ contentcontainer */
#content{
	width:100%;
	margin:0;
	float:left;
	padding:0px 0 0px 0;}
.right_logo{float:right; margin-top:5px;}	


#content h1{font-size:45px; text-align:center; color:#134c71; padding-top:25px;}
#content h2{font-size:25px; text-align:center;color:#134c71;}
#content h3{font-size:25px; text-align:center; margin-top:30px; background:none; color:#1f6fa2; text-transform:uppercase; border:none; padding:0;}	
#content a.menu_click{font-size:14px;text-transform:uppercase; border:none;font-family: tahoma, sans-serif;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; background-color:#00b1ed; text-decoration:none!important; padding: 8px 15px; color:#fff; margin:10px 0; display:inline-block;}
#content a.menu_click:hover{background-color:#3792be; cursor:pointer;}
	
#contentcontainer{
	width:100%;
	margin:0 auto;}

#logoutcontentcontainer{
	width:980px;
	margin:0 auto;}	
#leftside{
	width:670px;
	margin:0 10px auto 0;
	float:left;}
	
#rightside{
	width:290px;
	margin:0 0 auto 0;
	float:left;
	background:#f6f6f6;
	border:1px solid #eaeaea;
	padding:4px;}
	
/* ------ Side Navigation */
div.sidemenu{
	visibility:hidden;}	

ul.sidemenu{
	list-style:none;
	margin:5px auto;
	padding:0;
	width:auto;
	text-decoration:none;}

ul.sidemenu li{
	border-bottom:1px solid #eaeaea;
	text-align:left;
	color:#333;
	padding:0;
	text-decoration:none;
	font-weight:normal;
	font-size:1em;}
	
ul.sidemenu li.first{
	border-top:1px solid #eaeaea;}

ul.sidemenu a{
	padding:8px 7px 8px 7px;
	text-decoration:none;
	color:#231f20;}	

ul.sidemenu li a,
ul.sidemenu li a.visited{
	color:#333;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
ul.sidemenu li a:hover,
ul.sidemenu li a.active{
	color:#fff;
	text-decoration:none;
	text-transform:none;
	font-weight:normal;
	background:#00b1ed;}
	
ul.sidemenu li a.selected{
	color:#777;
	text-decoration:none;
	text-transform:none;
	font-weight:normal;
	background:#eaeaea;}
	
/* side navigation, second level */
div.sidemenu02{
	visibility:hidden;}	

ul.sidemenu02{
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;}
	
ul.sidemenu02 li{
	text-align:left;
	color:#999;
	padding:0;
	text-decoration:none;
	font-weight:normal;
	border-bottom:none;}	

ul.sidemenu02 a{
	padding:5px 10px;
	margin-left:10px;
	text-decoration:none;
	color:#999;
	text-transform:none;}	

ul.sidemenu02 li a{
	font-size:1em;
	color:#999;
	text-decoration:none;
	display:block;
	text-transform:none;
	background:url(../images/blue-bullet.html) 0 11px no-repeat;}	

ul.sidemenu02 li a.visited{
	font-size:1em;
	color:#999;
	text-decoration:none;
	display:block;
	text-transform:none;
	background:url(../images/blue-bullet.html) 0 11px no-repeat;}	

ul.sidemenu02 li a:hover{
	color:#333;
	text-decoration:none;
	text-transform:none;
	background:url(../images/red-bullet.html) 0 11px no-repeat;}

ul.sidemenu02 li a.active{
	font-size:1em;
	color:#333;
	text-decoration:none;
	display:block;
	text-transform:none;
	background:url(../images/red-bullet.html) 0 11px no-repeat;}
	
ul.sidemenu02 li a.selected{
	font-size:1em;
	color:#333;
	text-decoration:none;
	display:block;
	text-transform:none;
	background:url(../images/red-bullet.html) 0 11px no-repeat;}
	

/* =============================================================================================== FOOTER === */
/* ------ footer */
#footer{
	width:100%;
	border-top:3px solid #134c71;	
	color:#000;
	padding:0px 0 10px 0;
	margin:0;
	float:left;
	}
	
#footercontainer{
	width:980px;
	margin:0 auto;}
	
#footerleft{
	width:712px;
	margin:0;
	padding:0;
	float:left;
	line-height:22px;}
	
#footerleft a:link,
#footerleft a:visited{
	color:#000;
	text-decoration:underline;
	text-transform:uppercase;}
	
#footerleft a:hover,
#footerleft a:active{
	color:#00b1ed;
	text-decoration:underline;
	text-transform:uppercase;}
	
#footerright{
	width:260px;
	margin:0;
	padding:0;
	float:right;
	border-left:2px solid #212121;
	padding-left:6px;
	text-align:right;}
	
#footerright h1{
	color:#00b1ed;
	font-size:1.2em;
	font-weight:normal;
	margin:0;
	padding:0;
	text-transform:uppercase;
	text-align:right;}
	
#footerright a:link,
#footerright a:visited{
	color:#000;
	text-decoration:underline;}
	
#footerright a:hover,
#footerright a:active{
	color:#777;
	text-decoration:underline;}
	
	
	table.dataTable tr td:nth-child(1){white-space: nowrap;}
	table.dataTable tr td:nth-child(3){white-space: nowrap;}
	table.dataTable tr td:nth-child(2){white-space: nowrap;}
	table.dataTable tr td:nth-child(6){white-space: nowrap;}
	
	
	.index_table{width:90%; margin:50px auto 0px;}
	.index_table input{background-color:#1f6fa2; border:none; height:35px; color:#fff; width:225px; font-size:16px; padding-left:45px;}
	.index_table input:hover{background-color:#00b1ed; cursor:pointer;}
	input.res_icon{background:url(../images/menu_icons/res_icon.jpg) no-repeat left center #1f6fa2; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.cap_icon{background:url(../images/menu_icons/cap_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.misc_icon{background:url(../images/menu_icons/misc_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.con_icon{background:url(../images/menu_icons/con_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.ic_icon{background:url(../images/menu_icons/ic_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.diode_icon{background:url(../images/menu_icons/diode_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.tran_icon{background:url(../images/menu_icons/tran_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.osc_icon{background:url(../images/menu_icons/osc_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	input.autofill_icon{background:url(../images/menu_icons/osc_icon11.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	.autofill_check{float: left;position: absolute; right: 225px;}
	input.allp_icon{background:url(../images/allp_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; }	
	input.download_icon{background:url(../images/download_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	
	.partlib_icon a{background-color:#3792be; border:none; height:35px; color:#fff!important; width:180px; font-size:16px; display:inline-block; line-height:35px; text-decoration:none!important; text-transform:uppercase;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; }	
		.partlib_icon a.res_icon{background:url(../images/menu_icons/res_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.cap_icon{background:url(../images/menu_icons/cap_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.misc_icon{background:url(../images/menu_icons/misc_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.con_icon{background:url(../images/menu_icons/con_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.ic_icon{background:url(../images/menu_icons/ic_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.diode_icon{background:url(../images/menu_icons/diode_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.tran_icon{background:url(../images/menu_icons/tran_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.osc_icon{background:url(../images/menu_icons/osc_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.partlib_icon a.allp_icon{background:url(../images/menu_icons/allp_icon.jpg) no-repeat left center #1f6fa2;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	

	
	.login_panel{width:240px; margin:20px 0; padding:15px 0; background-color:#f7f7f7;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; float:right; border:1px solid #ccc;  -moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
	.login_panel h4{line-height:18px; color:#646464; border-bottom:1px solid #ccc; font-size:12px; margin-top:0!important; text-align:center; padding-bottom:15px; text-transform:uppercase; font-weight:normal;}
	.login_panel p{margin:10px 0; color:#646464; font-size:13px;}
	.login_panel a{text-decoration:none!important; font-weight:700;}
	.login_panel form{width:100%; margin-top:0px;padding:25px 15px 0; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}
	
	.login_panel input[type="text"], 	.login_panel input[type="password"] {height:30px; background-color:#fff; border:1px solid #ccc; margin-bottom:5px; font-size:12px;}
	.login_panel input.loginboxcust{box-shadow:none;}
	.login_panel label.loginboxcust{padding:0 10px 0 0;}
	.login_panel input[type="Submit"]{background: #2289c9; /* Old browsers */
background: -moz-linear-gradient(top, #2289c9 0%, #134c71 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2289c9), color-stop(100%,#134c71)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2289c9 0%,#134c71 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2289c9 0%,#134c71 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2289c9 0%,#134c71 100%); /* IE10+ */
background: linear-gradient(to bottom, #2289c9 0%,#134c71 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2289c9', endColorstr='#134c71',GradientType=0 ); /* IE6-9 */ border:none; cursor:pointer; height:40px; text-transform:uppercase;}
	
	.resistor_table input[type="submit"]{width:220px; background-color:#3792be; height:35px; font-size:18px; text-align:center; color:#fff; border:none;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.resistor_table input[type="submit"]:hover{background-color:#00b1ed; cursor:pointer;}
	.cancel_panel input[type="button"]{ background:#134c71; border:none; color:#00b1ed; width:220px; font-size:18px; text-transform:uppercase; height:35px;}
	.cancel_panel input[type="button"]:hover{background-color:#00b1ed; color:#134c71;}
	
	.download_panel{width:100%;text-align:center; float:left;}
	.download_panel ul{width:21%; margin:0 auto; padding:0;}
	.download_panel li{width:100% float:left; display:block; margin-bottom:10px;background-color:#3792be;line-height:35px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.download_panel a{ display:inline-block; padding:0 15px; color:#fff!important; font-size:16px;text-decoration: none!important; text-align:center;}
	.download_panel li:hover{ background-color:#00b1ed;}
	table.dataTable, table.dataTable th, table.dataTable td{box-sizing:none!important;}
	
	.nav_panel{float:left; float:left;}
	/*show or hide the submenu*/
#photo {display:block; margin:0 auto;}

#droplineMenu {height:50px; position:relative;background: #2289c9; /* Old browsers */
background: -moz-linear-gradient(top, #2289c9 0%, #134c71 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2289c9), color-stop(100%,#134c71)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2289c9 0%,#134c71 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2289c9 0%,#134c71 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2289c9 0%,#134c71 100%); /* IE10+ */
background: linear-gradient(to bottom, #2289c9 0%,#134c71 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2289c9', endColorstr='#134c71',GradientType=0 ); /* IE6-9 */
width:980px; z-index:10; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px; 
  -moz-box-shadow: 2px 3px 5px #535353;
  -webkit-box-shadow: 2px 3px 5px #535353;       
  box-shadow: 2px 3px 5px #535353;
  float:left;

}
#droplineMenu ul {padding:0; margin:0; list-style:none; }
#droplineMenu table {border-collapse:collapse; width:0; height:0; margin-top:-1px; margin-bottom:-1px; }
#droplineMenu ul ul li {float:left; }
#droplineMenu ul ul li a {display:block; float:left; }
#droplineMenu ul ul div {position:absolute; left:-9999px; overflow:hidden; }

#droplineMenu ul#menuOuter {display:inline-block;float:left; width:100%; } 
#droplineMenu ul#menuOuter li.lv1-li {display:inline-block; height:50px; float:left; width:500px; }

#droplineMenu ul ul li a {height:50px; line-height:50px; padding:0 20px 0 0; font-size:14px; font-family: tahoma, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase; }
#droplineMenu ul ul li a b {display:block; height:50px; float:left; padding:0 0 0 17px; font-weight:normal; cursor:pointer; }
#droplineMenu ul ul li a:hover {background-color:#fff; line-height:50px; }
#droplineMenu ul ul li a:hover b {color:#646464; background-color:#fff; line-height:50px; }
#droplineMenu ul ul li div{background-color:#e9e9e9;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
#droplineMenu ul ul li:hover > a {background-color:#fff; line-height:44px; }
#droplineMenu ul ul li:hover > a b {color:#646464; background-color:#fff; line-height:50px; }

#droplineMenu ul ul li.current a {background:url(tab.gif) right top; line-height:50px;}
#droplineMenu ul ul li.current a b {color:#646464; background:url(tab.gif) left top; line-height:50px; }

#droplineMenu ul ul li.current div {left:0; top:50px; width:960px; text-align:center;} /*change this for currently selected */

#droplineMenu ul ul :hover div {left:0; top:48px; width:980px;height:40px; border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-o-border-bottom-right-radius:5px;border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;}
#droplineMenu ul ul li.current div b {display:block; width:960px; height:40px; position:absolute; left:0; top:0; background:#006789; z-index:-1; filter: alpha(opacity=60); opacity:0.6; padding:0; line-height:40px;}
#droplineMenu ul ul li div b {display:block; width:960px; height:40px; position:absolute; left:0; top:0; background:#006789; z-index:-1; filter: alpha(opacity=60); opacity:0.6; padding:0; line-height:40px;}

#droplineMenu ul ul li div ul {display:inline-block; } /*Change this for submenu*/
#droplineMenu ul ul li div ul li {display:inline-block; display:inline;}

#droplineMenu ul ul div a {background-image:none; height:40px; line-height:40px; font-size:12px; padding:0 20px; color:#646464;}
#droplineMenu ul ul div a:hover {background-image:none; color:#646464; line-height:40px;}

#droplineMenu ul#menuOuter li.lv1-li a:hover {direction:ltr;}
#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current div {left:-9999px;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current div {left:-9999px;}

#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current:hover div {background-color:#ff00ff;left:0;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a:hover div {left:0;background-color:#ff00ff;}

#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current a {background-color:#ff00ff; color:#fff; line-height:66px;} 
#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current a b {background-color:#ff00ff; color:#fff; line-height:66px;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a {background-color:#ff00ff; color:#fff; line-height:66px;} 
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a b {background-color:#ff00ff; color:#fff; line-height:66px;}

#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current:hover a {background-color:#ff00ff; line-height:60px;}
#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current:hover a b {color:#fc0;background-color:#ff00ff; line-height:60px;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a:hover {background-color:#ff00ff; line-height:60px;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a:hover b {color:#fc0;background-color:#ff00ff; line-height:60px;}

#droplineMenu ul ul li.current div ul li a {background-image:none; color:#fff; line-height:40px; }
#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current:hover ul li a {background-image:none; line-height:40px;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a:hover ul li a {background-image:none; line-height:40px;}

#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current div ul li.current_sub a {color:#fc0;}
#droplineMenu ul#menuOuter li.lv1-li:hover ul li.current div ul li a:hover {color:#fc0;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current div ul li.current_sub a {color:#fc0;}
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current div ul li a:hover {color:#fc0;}

#droplineMenu ul ul li.current div ul li.current_sub a {background-image:none; color:#fc0; line-height:40px;}
#droplineMenu ul ul li.current div ul li.current_sub a:hover {background-image:none; line-height:40px;}
#droplineMenu ul ul li a:hover div b,
#droplineMenu ul#menuOuter li.lv1-li a:hover ul li.current a:hover div b {display:block; width:960px; height:40px; position:absolute; left:0; top:0; background:#006789; z-index:-1; filter: alpha(opacity=60); opacity:0.6; padding:0; line-height:40px;}


.menu_logo{float:left; width:60px; padding-left:30px; padding-top:5px;}
.menu_search{float:right; width:300px; height:50px; line-height:50px; text-align:right; }
.menu_search form{font-size:0; width:210px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:1px solid #f1f1f1; background:#fff; height:23px; margin-top:12px; float:right;}
.menu_search input[type="text"]{width:190px; height:20px; padding-left:10px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin-top:1px; border:none; vertical-align:top;}
.menu_search input[type="button"]{width:15px; height:15px; text-align:center; border:none; background: url(../images/search_icon.png) no-repeat center center #fff;margin-top:4px;vertical-align:top; cursor:pointer; border:none; margin-right:2px;}

.menu_search1 {float:right; width:270px; height:50px; line-height:50px; text-align:right; padding-right:30px;}
.menu_search1 form{font-size:0; width:210px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:1px solid #f1f1f1; background:#fff; height:23px; margin-top:12px; float:right;}
.menu_search1 input[type="text"]{width:190px; height:20px; padding-left:10px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin-top:1px; border:none; vertical-align:top;}
.menu_search1 input[type="button"]{width:15px; height:15px; text-align:center; border:none; background: url(../images/search_icon.png) no-repeat center center #fff;margin-top:4px;vertical-align:top; cursor:pointer; border:none; margin-right:2px;}

.slider_panel{float:left; width:715px; margin-top:20px;}
.slider-wrapper { 
    position: relative; 
}
.lean-slider { overflow: hidden; }
.lean-slider-slide {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.lean-slider-slide.current { opacity: 1; }
.lean-slider-slide img { 
    display: block;
    width: 100%; 
}

.lean-slider { 
    position: relative; 
    *zoom: 1;
}
.lean-slider:before,
.lean-slider:after {
    content: " ";
    display: table;
}
.lean-slider:after {
    clear: both;
}

.lean-slider-slide { 
    float: left;
    width: 100%;
    margin-right: -100%;
    display: none; 
}
.lean-slider-slide.current { display: block; }

#slider-direction-nav {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}
.slider-wrapper:hover #slider-direction-nav { opacity: 1; }
#slider-direction-nav a {
    float: left;
    display: block;
    width: 26px;
    height: 37px;
    background: url(../images/arrows.png) no-repeat 0 0;
    text-indent: -9999px;
}
#slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0;
}

#slider-control-nav {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}
.slider-wrapper:hover #slider-control-nav { opacity: 1; }
#slider-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/bullets.png) no-repeat 0 0;
    text-indent: -9999px;
    margin: 0 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
#slider-control-nav a.active { background-position: 100% 0; }

.sign_update{float:left; width:100%;}

#stayConnectedID {background-color: #f9f9f9;float: left;width:100%; -moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
.optIn {height: 48px;margin: 14px 0;position: relative;}
.tile {padding: 0;}
.box {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E3E3E3;border-radius: 5px; margin-bottom: 14px;min-height: 10px; position: relative;}

.box .w418 {left: -1px;position: relative;}
.padding20 { padding-left: 20px;}
.w418 {float: left;margin: 0 14px 14px 0; width: 418px;}
.optIn p {
    color: #333333;
    height: 31px;
    position: relative;
    top: 4px;
}

.tile p {
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0;
}

.tile a {
    color: #3381B7;
    text-decoration: none!important;
}


.box .w226 {
    left: -1px;
    position: relative;
}

.w226 {
    float: left;
    margin: 0 14px 14px 0;
    width: 214px;
}


div.enterEmail {
    height: 25px;
    margin-top: 15px;
    position: relative;
}


div.enterEmail input {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15) inset;
    color: #777777;
    height: 15px;
    margin-left: 0;
    margin-top: -3px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    padding: 5px 0;
    position: relative;
    vertical-align: baseline;
    width: 184px;
}


div.enterEmail input.arrow {
    border: 0 none;
    height: 27px;
    margin-left: -3px;
    padding: 0;
    position: absolute;
    width: 29px;
	background:url(../images/btn-arrow-rt-blu.gif) center center no-repeat;
	background-size:cover;

}
.newMediaShare {
    position: relative;
    width: 150px;
}
.floatl {
    float: left;
}


.newMediaShare h5 {
    font-size: 12px;
    left: 10px;
    position: absolute;
    top: 14px;
    z-index: 50 !important;
}

.horiz_socialmedia{margin-top:15px; float:left; padding-left:60px;}
.quick_links{float:left; width:980px;}
.links_panel{float:left; width:940px; margin:20px;}
.link-section{width:235px; float:left;}
.link-section ul{list-style:none;}
.link-section li{float:left; width:100%; margin-bottom:5px;}
.link-section li a{font-size:12px; color:#134c71; text-decoration:none!Important;}
.link-section h4{font-size:14px; color: #646464; margin-bottom:15px; text-transform:uppercase; font-weight:normal;}

.bottom_nav{float:left; width:980px;margin-top:0px; padding:10px 0;}
.bottom_nav a{ color:#125483; font-size:11px; padding-right:10px; border-left:1px solid #ccc; padding-left:10px; text-decoration:none !important;}
.bottom_nav a:first-child{border-left:none;}

.status_panel{width:100%; float:left;}
.status_sec{ margin:10px 0 0 0;position:fixed;background-color:#adadad; padding:10px; right:20px; z-index:9; top:57px; left:279px;}
.status_sec p{ margin:0; color:#f7f7f7; font-size:14px; text-transform:capitalize;}
.status_sec ul{list-style:none;}
.status_sec li{float:left; padding:12px 15px; font-size:12px; color:#646464;}

.pay_icons{float:left; width:980px;}
.pay_icons a{margin-right:10px;}
.topopup1{-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline-block; height:35px;}

.topopup{}

	a.res_icon{background:url(../images/menu_icons/res_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2 ; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px; padding-left:44px; padding-right:32px; text-align:center;}
    a.res_icon:hover{background-color:#43b6ff; color:#fff!Important;}
	a.cap_icon{background:url(../images/menu_icons/cap_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.cap_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.misc_icon{background:url(../images/menu_icons/misc_icon.jpg) no-repeat left center , url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.misc_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.con_icon{background:url(../images/menu_icons/con_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.con_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.ic_icon{background:url(../images/menu_icons/ic_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.ic_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.diode_icon{background:url(../images/menu_icons/diode_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.diode_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.tran_icon{background:url(../images/menu_icons/tran_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.tran_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.osc_icon{background:url(../images/menu_icons/osc_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px;padding-left:44px; padding-right:32px; text-align:center;}
    a.osc_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.allp_icon{background:url(../images/allp_icon.jpg) no-repeat left center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;display:inline-block; width:220px; line-height:35px; color:#fff!important; font-size:16px; height:35px; padding-left:44px;  text-align:center;}	
    a.allp_icon:hover{background-color:#43b6ff; color:#fff!Important;}	
	a.download_icon{background:url(../images/download_icon.jpg) no-repeat left center, url(../images/menu_icons/plus_icon.png) no-repeat right 5px center #1f6fa2;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
    a.download_icon:hover{background-color:#43b6ff; color:#fff!Important;}	



.admin_content{width:100%; margin:50px 0; float:left; text-align:center;}
.admin_content ul{list-style:none; width:300px; margin:0 auto; padding:0px;}
.admin_content ul li{width:100%; float:left; margin-bottom:25px; line-height:35px; text-align:center;}
.admin_content a{display:inline-block;line-height:35px;color:#fff!important; text-transform:uppercase!important; background-color:#1f6fa2; text-decoration:none!important; width:225px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; font-size:15px; }
.admin_content a:hover{background-color:#43b6ff;}

.column_table {float:left; margin:20px 27%; font-size:14px; color:#333;}
.column_table td{width:50%;text-align:left;}
.column_table td:nth-child(even){width:50%;text-align:right;}
.column_table td input[type="submit"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:20px 0;border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc; margin:15px 15px 15px 0; float:right;}
.column_table td input[type="submit"]:hover{background-color:#3792be;}
.column_table tbody tr:last-child td{text-align:center;}
.column_table tr{background-color:#c1c1c1;}
.column_table tr:nth-child(odd){background-color:#d9d9d9;}

.up_bar{background-color:#f3f3f3;float:left; width:100%; border-bottom:1px solid #ddd;border-radius:6px 6px 0px 0px;}
.up_bar p{font-size:20px; padding-left:20px; line-height:40px; color:#646464;}
.up_mid{float:left; width:100%; padding:15px 0; background-color:#f7f7f7;}
.up_bottom{background-color:#f3f3f3;float:left; width:100%;border-top:1px solid #ddd;}
.up_bottom1{background-color:#f3f3f3;float:left; width:100%;border-top:1px solid #ddd;}
.up_bottom1 input[type="submit"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc; float:right; margin-top:15px; margin-right:15px;}
.logo_design .up_mid{padding:25px;}
.logo_design input[type="submit"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:10px 10px 10px 10px; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc; float:right;}
table.mfg_table td{font-size:12px!important;}
table.mfg_table input[type="text"]{ height:30px; padding-left:15px; line-height:30px; background-color:#fff;}
table.mfg_table input[type="button"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:20px 0;border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc;}
table.mfg_table input[type="button"]:hover{background-color:#3792be;}
table.dpn_table td{font-size:12px!important; padding-bottom:5px; padding-right:5px;}
table.dpn_table input[type="text"]{height:30px; padding-left:15px; line-height:30px; background-color:#fff;}
table.dpn_table select{border:1px solid #e9e9e9; height:30px; padding-left:15px; line-height:30px; background-color:#fff;}
table.dpn_table input[type="button"]{width:75px; background-color:#eee; border:none; font-size:13px; color:#333;height:30px; cursor:pointer;font-family: tahoma, sans-serif; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc;}
table.dpn_table input[type="button"]:hover{background-color:#3792be;}
table.dpn_table input[type="text"]{ text-transform:uppercase!important;}
table.dpn_table input.datasheet{ text-transform:none!important;}
table.submit_table input[type="submit"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:10px 0; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc; float:right;}
table.submit_table input[type="submit"]:hover{background-color:#999;}


.jq-tips_tip {
  position: absolute;
  display: none;
  z-index: 10000;
}

.jq-tips_pointer {
  float: left;
  position: relative;
  left: 50%;
  z-index: 10000;
  margin-left: -10px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 10px;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.jq-tips_content {
  background: rgb(0,0,0);
  border-radius: 4px;
  padding: 7px;
  color: #FFF;
  position: relative;
  z-index: 1;
}

.counter_sec{background:#154c72; color:#fff; height:35px; line-height:35px; width:35px; display:inline-block; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; font-size:14px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}

.upload_main {width:100%; float:left; margin:25px 0;}

.upload_left{width:47%; float:left;border:1px solid #ccc; padding:25px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; text-align:center; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.upload_right{width:58%; float:right;border:1px solid #ccc; padding:25px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.upload_right table{width:100%; text-align:center; font-size:14px; color:#333;	border-collapse: collapse; }
.upload_right table, .upload_right td {border: 1px solid #ccc;}
.upload_right table tr:nth-child(even){
	background-color:#a1dbff;
}

.upload_right table tr:nth-child(odd){
	background-color:#cce2f0;
}


.upload_right th{background-color:#2289c9; color:#fff; border:1px solid #00609c; border-bottom:none;}
.upload_right table th{font-weight:700; line-height:35px;}
.upload_right table td{font-weight:normal; line-height:30px;}
.register_panel{width:100%; float:left; margin:20px 0;}
.register_head {clear: both;float: left;margin: 10px 0;width: 100%;}
.register_head h3{background-color: #333!important;color:#fff!important;font-size: 16px!important;font-weight: normal!important; margin: 0!important; padding: 6px 10px!important;font-family: tahoma, sans-serif !important;}
.register_panel table td {color: #0786e6;font-size: 15px;font-weight: normal;text-align: left;font-family: tahoma, sans-serif !important; height:55px;}
.register_panel table td:nth-child(even) {color: #0786e6;font-size: 15px;font-weight: normal;text-align: right;font-family: tahoma, sans-serif !important;}


.register_panel table td input[type="text"] {background-color: #fff;border: 1px solid #c3c3c3;box-sizing: border-box;height: 35px;padding-left: 7px; width: 250px;font-family: tahoma, sans-serif !important;}
.companyid {background-color: #fff;border: 1px solid #c3c3c3;box-sizing: border-box;height: 35px;padding-left: 7px; width: 250px;font-family: tahoma, sans-serif !important; float:right; text-align:left; padding-left:10px; color:#000; font-size:13px; line-height:30px;}
.register_panel table td input[type="password"] {background-color: #fff;border: 1px solid #c3c3c3;box-sizing: border-box;height: 35px;padding-left: 7px; width: 250px;font-family: tahoma, sans-serif !important;}
.register_panel table td select { background-color: #fff;border: 1px solid #c3c3c3; height: 35px; padding: 7px; width: 250px;font-family: tahoma, sans-serif !important;}
.account_left{float:left; width:48%; clear:left; padding-left:10px;}
.account_right{float:right; width:48%; padding-right:10px;}

.thanks_panel{width:100%; float:left; margin:50px 0; text-align:center;}
.thanks_panel a input.menu_click{font-size:14px;text-transform:uppercase; border:none;font-family: tahoma, sans-serif;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; background-color:#00b1ed; text-decoration:none!important; padding: 8px 15px; color:#fff; margin:10px 0; display:inline-block; margin-bottom:20px;}
.thanks_panel a input.menu_click:hover{background-color:#3792be; cursor:pointer;}

.thanks_panel p{font-size:16px; line-height:25px; text-align:center; color:#333;}
.custom_panel{width:100%; float:left;}
.custom_panel form{text-align:center; margin:25px 0;}
.custom_panel table td a{text-align:center;}
.custom_panel table td {color: #6464646;font-size: 14px;font-weight: normal;text-align: left;font-family: tahoma, sans-serif !important;}
.custom_panel table td input[type="text"] {background-color: #fff;border: 1px solid #c3c3c3;box-sizing: border-box;height: 30px;padding-left: 7px; width: 200px;font-family: tahoma, sans-serif !important;}
.custom_panel table td select { background-color: #fff;border: 1px solid #c3c3c3; height: 30px; padding:4px 7px; width: 200px;font-family: tahoma, sans-serif !important;}

.default{ color:#646464; text-align:center!important;}
.default input{text-align:right!important; float:right;}

.script_layout{width:100%; float:left; text-align:center; }
.script_layout .download_table{text-align:center; margin:0 auto;border:1px solid #eee; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:20px; width:72%;}
.script_layout .download_table table{width:100%;}
.script_layout .download_table table td{height:35px; font-size:14px; color:#333;}
.script_layout .download_table table th{height:35px;}
.script_layout .download_table table td a{ text-decoration:none !important;}



.about_pg, .services_pg, .subscription_pg, .library9dvd_pg, .library9box_pg, .contact_pg, .support_pg{width:100%; float:left; padding:30px 0;}
.about_pg h2, .services_pg h2, .subscription_pg h2, .library9dvd_pg h2, .library9box_pg h2, .contact_pg h2, .support_pg h2{ font-size:26px!important; padding:10px 0 10px 10px; border-bottom:2px solid #3792be; font-style:normal !important; text-align:left!important;font-family: tahoma, sans-serif !important; text-transform:uppercase;}


.contact_form {box-sizing: border-box;box-sizing: -webkit-border-box;box-sizing: -moz-border-box;float: left;margin:30px 15%;width: 70%; background-color:#f7f7f7; border:1px solid #e9e9e9; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:35px 25px;}
.contact_form table{margin:20px auto;}
.contact_form table td {color: #0786e6;font-size: 15px;font-weight: normal;text-align: left; vertical-align: bottom; width: 50%; line-height:35px; vertical-align:middle;}
.contact_form table td input[type="text"] {background-color: #fff;border: 1px solid #c3c3c3;height: 35px;width: 313px;}
.contact_form table td textarea {background-color: #fff;border: 1px solid #c3c3c3;}
.contact_form table td select {background-color: #fff;border: 1px solid #c3c3c3;height: 35px;padding: 7px;width: 316px;}

.red_color {color: #ff0000;}
.contact_form input[type="submit"] {background-color: #0786e6;border: medium none;color:#fff; cursor: pointer;float: right;font-size: 18px;height: 40px;width: 120px;}
.pageheading {background-color: #333;float: left;margin: 30px 0; width: 100%;}
.pageheading h2 {color: #fff!important;font-size: 24px!important;font-weight: normal!important;padding: 10px!important; border:none!important;}

.contact_left {float: left;width: 100%; font-size:16px;}

.bom_form{float:left; width:100%;}
.bom_form .up_bottom{padding:15px 0;}
.bom_form table td{height:30px; display:inline-block; vertical-align:middle; line-height:30px; width:100%;}
.bom_form table.bomname td:nth-child(odd){width:30%; text-align:right;}
.bom_form table.bomname td:nth-child(even){width:68%; text-align:left; padding-left:5px;}
.bom_form .showhim{width:50px!important; float:none!important; display:inline-block; margin:0 0 0 5px !important;}
.bom_form .showme{ margin:0px 5px 0px 25px!important; width:283px !important; height:200px!important; position:relative; z-index:1;}

.bom_form input[type="submit"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc; float:right;}
.bom_form a input[type="button"]{width:100px; background-color:#eee; border:none; font-size:13px; color:#333; height:30px; cursor:pointer;font-family: tahoma, sans-serif;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border:1px solid #999; box-shadow:1px 1px 3px #cccccc;-webkit-box-shadow:1px 1px 3px #cccccc;}



.inner_table input{
    background-color: #3792be;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 35px;
 text-align:center;
 cursor:pointer;
 padding-left:25px;

 margin-bottom:0px;
 width:250px;
 }
input.l9_icon {
/*    background: url("../images/l9_icon.jpg") no-repeat scroll left center, url("../images/plus_png.png") no-repeat scroll right 5px center #3792be;*/
    background: url("../images/l9_icon.jpg") no-repeat scroll left center #1f6fa2;	
    border-radius: 5px;-webkit-border-radius: 5px;-moz-  border-radius: 5px;
-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; 
	
 text-transform:uppercase;
 text-align:center;
 
}

.custom_add1 input{
    background-color: #3792be;
    border: medium none;
    color: #fff;
    font-size: 16px;
    height: 35px;
 text-align:center;
 cursor:pointer;
 padding-left:44px;
 padding-right:0px;
 margin-bottom:0px;
 width:225px;
 }
.custom_add input{
    background-color: #3792be;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 35px;
 text-align:center;
 cursor:pointer;
 /*padding-left:74px;*/
 /*padding-right:32px;*/
 margin-bottom:0px;
 margin-left: 95px;
 width:200px;
 }
.custom_addnew input{
    background-color: #3792be;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 35px;
 text-align:center;
 cursor:pointer;
 padding-left:74px;
 padding-right:32px;
 margin-bottom:0px;
 margin-left: 95px;
 width:200px;
 }
.custom_add input.l9_icon {
 background: url("../images/l9_icon.jpg") no-repeat scroll left center, url("../images/menu_icons/plus_icon.png") no-repeat scroll right 5px center #1f6fa2;
    border-radius: 5px;
-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; 
 text-transform:uppercase;
 text-align:center;
 
}
.upload_rightnew {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    float: right;
    padding: 25px;
    width: 48%;
}
.upload_rightnew > input {
    margin-left: 50px;
}
.custom_addnew input.l9new_icon {
 background: url("../images/l9_icon.jpg") no-repeat scroll left center, url("../images/plus_png.png") no-repeat scroll right 5px center #1f6fa2;
    border-radius: 5px;
-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353; 
 text-transform:uppercase;
 text-align:center;  cursor: default;
 
}
input.add_new{font-size:14px;text-transform:uppercase; border:none;font-family: tahoma, sans-serif;-moz-box-shadow: 2px 3px 5px #535353;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; background-color:#00b1ed; text-decoration:none!important; padding: 0px 15px; color:#fff; margin:0px 0; display:inline-block; height:35px; cursor:pointer;}
td.make_pn{padding-bottom:15px;}

.subs_foot{width:100%; float:left; margin-top:15px; background-color:#1f6fa2; padding:10px 0;}
.subs_left{float:left; padding:0 15px; color:#fff; font-size:15px;}
.subs_right{float:left;padding-left:15px; color:#fff; font-size:15px;}
.planblue{background-color:#0786e6; font-weight:bold; font-size:15px; padding:10px; margin-left:15px; color:#fff;}
.planleft{background-color:#0786e6;color:#000; font-weight:bold; font-size:15px;padding:10px; margin-left:15px; color:#fff;}
.plananchor{background: #fff; color:#0786e6!important; text-decoration:underline; font-size:14px; margin-left:50px; padding:10px;}
.vend_rad{width:100%; float:left; padding:15px 0;}
.upload_adv{width:50%; margin:50px 25%; border:1px solid #ddd; padding:20px; float:left;}
.upload_adv input[type="submit"]{
    background-color: #1f6fa2;
    border: 1px solid #1f6fa2;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #535353;
	-moz-box-shadow: 2px 3px 5px #535353;
	-webkit-box-shadow: 2px 3px 5px #535353;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 35px;
    padding: 0 15px;
    text-align: center;
}

.upload_adv input[type="submit"]:hover{
    background-color: #43b6ff;
	 border: 1px solid #43b6ff;
	}


.upload_adv input[type="text"] , .upload_adv input[type="textarea"]{
    background-color: #fff;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    font-family: tahoma,sans-serif !important;
    height: 35px;
    padding-left: 7px;
    width: 250px;
}

.upload_adv table td{padding-bottom:10px;}
.vendad_left select, .vendad_right select{width:300px; height:35px;}

.vendad_left, .vendad_right{width:48%; margin:50px 0; border:1px solid #ddd; padding:20px; float:left; position:relative;}
.vendad_right{margin-left:4%;}
.vendad_left input[type="submit"], .vendad_right input[type="submit"]{
    background-color: #1f6fa2;
    border: 1px solid #1f6fa2;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #535353;
	-moz-box-shadow: 2px 3px 5px #535353;
	-webkit-box-shadow: 2px 3px 5px #535353;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 35px;
    padding: 0 15px;
    text-align: center;
}

.vendad_left input[type="submit"]:hover, .vendad_right input[type="submit"]:hover{
    background-color: #43b6ff;
	 border: 1px solid #43b6ff;
	}


.vendad_left input[type="text"] , .vendad_left input[type="textarea"], .vendad_right input[type="text"] , .vendad_right input[type="textarea"]{
    background-color: #fff;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    font-family: tahoma,sans-serif !important;
    height: 35px;
    padding-left: 7px;
    width: 250px;
}

.vendad_left table td, .vendad_right table td{padding-bottom:10px;}
.enter_manuf{width:100%; float:left; margin-bottom:20px;}
.enter_manuf input[type="button"]{ background-color:#1f6fa2; padding:0 15px; border:1px solid #1f6fa2; text-align:center; color:#fff;cursor:pointer; height:35px; border-radius: 5px;-webkit-border-radius: 5px;-moz-  border-radius: 5px;-moz-box-shadow: 2px 3px 5px #535353;-webkit-box-shadow: 2px 3px 5px #535353; box-shadow: 2px 3px 5px #535353;}
.enter_manuf input[type="button"]:hover{background-color:#43b6ff;border:1px solid #43b6ff;}
.enter_manuf input[type="text"]{width:200px; height:35px; border:1px solid #e9e9e9; background-color:#fff;}
.enter_manuf select{width:200px; height:35px; border:1px solid #e9e9e9; background-color:#fff;}

.entermanuf_left{float:left; width:55%; text-align:right;}
.entermanuf_right{float:right; width:42%; text-align:left; }
.custom_panel table td input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    font-family: tahoma,sans-serif !important;
    height: 30px;
    padding-left: 7px;
    width: 200px;
}
.bom_form input[type="button"]:hover {
    background-color: #43b6ff;
}

.bom_form input[type="button"] {
    width: 100px;
    background-color: #eee;
    border: none;
    font-size: 13px;
    color: #333;
    height: 30px;
    cursor: pointer;
    font-family: tahoma, sans-serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #cccccc;
    -webkit-box-shadow: 1px 1px 3px #cccccc;
    float: right;
}