/* CSS Document */
/*  idTabs ~ Sean Catchpole  */

/* Style for Usual tabs */
#adv1{
	margin:0 auto;
	padding:0;}

#adv1 ul{
	list-style:none;
	width:670px;
	margin:0;
	padding:0;
	float:left;}
	
#adv1 li{
	float:left;
	list-style:none;
	width:auto;
	display:block;
	/*border-bottom:1px solid #efefef;*/
	font-size:1em;
	font-weight:normal;
	text-align:left;
	margin:0 1px 0px 0px;
	cursor:pointer;
	color:#fff;
	padding:0;
	text-decoration:none;}
	
#adv1 a{
	padding:5px 5px;
	text-decoration:none;
	color:#fff;}
	
#adv1 li a,
#adv1 li a.visited{
	font-size:1em;
	color:#333;
	background:#d0d0d0;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#adv1 li a:hover,
#adv1 li a:active{
	color:#fff;
	background:#212121;
	text-decoration:none;
	text-transform:none;}
	
#adv1 li a.selected{
	color:#a5e8ff;
	background:#00b1ed;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
.usual{
	padding:0px;
	width:80%;
	margin:0px auto auto 0;}

#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
#tabs3 { background:#FF9; }

/* Style for various uses of tabs */

#freedom {
  float:left;
  width:90px;
  color:#68D;
  font:1.3em Cambria, Times New Roman, serif;
  font-style:italic;
}
#freedom li a {
  width:80px;
  text-align:left;
  padding:2px 6px 4px;
  background:#222;
  margin:1px;
  margin:0px;
  display:block;
  text-decoration:none;
  font-weight:bold;
  font-size:0.7em;
  font-style:normal;
}
#freedom li a:hover {
  background:#0A0A0A;
  width:86px;
}
#freedom li a.selected {
  background:#FFF;
  color:#000;
  width:90px;
  cursor:default;
}

.tabContainer {
  width:400px;
  margin:20px auto;
  padding-top:2px;
  background:#181818;
  border:1px solid #222;
}
.tabContainer h3 {
  padding-bottom:4px;
  color:#F60;
}
.tabContainer p {
  padding:2px 12px 10px;
  text-align:left;
}

#three {
  position:absolute;
  top:0;
  left:0;
  border-bottom:1px solid #444;
  border-right:1px solid #444;
}

#four {
  color:#D66;
  font:2em Cambria, Times New Roman, serif;
  position:fixed;
  bottom:10px;
  right:20px;
}

.imagebox {
  background:#040404;
  border:1px solid #1A1A1A;
  width:100px;
  height:90px;
  margin:10px auto;
}
.imagebox a {
  display:block;
  width:25px;
  height:25px;
  line-height:23px;
  float:left;
  text-decoration:none;
  background:#111;
}
.imagebox a:hover { background:#000; }
.imagebox a.selected {
  background:snow;
  color:#222;
  font-weight:bold;
}
.imagebox img { margin-top:6px; clear:both; }


/* Styles for Advanced Section */

#adv2 {
  width:500px;
  margin:6px auto;
  background:#181818;
}
#adv2 ul {
 display:block;
 width:50px;
 height:50px;
 float:left;
}
#adv2 ul li { float:left; }
#adv2 ul li.split { clear:both; }
#adv2 ul li a {
  display:block;
  height:25px;
  width:25px;
  line-height:22px;
  text-decoration:none;
  background:#222;
}
#adv2 ul li a:hover {
  background:#0A0A0A;
}
#adv2 ul li a.selected {
  background:snow;
  color:#111;
  font-weight:bold;
}

#forlists *,
#forlists li *,
#forlists a *{
	width:680px;
	margin:0;
	padding:0;
	color:#333;
	list-style-type:inherit;}
	
#forlists ol{
	width:auto;
	margin:0;
	list-style-type:decimal;
	list-style-position:outside;}
 
#forlists ol li{
	margin:0 auto 20px 10px;
	color:#333;
	list-style-type:decimal;}

#adv2 span {
  height:50px;
  display:block;
  line-height:45px;
  width:450px;
  float:right;
  background:#181818;
}

#adv3 a {
  color:snow;
  font-size:2em;
  font-weight:bold;
  text-decoration:none;
  margin:6px;
}
#adv3 a:hover { color:#68D; }
#adv3 p {
  color:#888;
  margin:5px;
  font-style:italic; 
}
#adv3 p a {
  margin:0;
  color:#CCC;
  font-size:1em;
  font-weight:bold;
  text-decoration:underline;
}
#adv3 p a:hover { color:#FFF; }

#message {
  margin:10px auto;
  border:6px solid #222;
  width:240px;
  height:40px;
  background:#0D0D0D;
  font-size:1.3em;
  line-height:2em;
  color:#FC4;
}