/* CSS Document */

/* =============================================================================================== BLOCKS BUTTONS === */
/* ------ positioning */
#blockleftbtn{
	margin:10px auto auto;
	width:184px;}
	
#blockmiddlebtn{
	margin:2px auto auto;
	width:184px;}
	
#blockrightbtn{
	margin:10px auto auto;
	width:184px;}
	
/* ------ the buttons */
/* left button */
#blockleftbtn a.continue{
    background:transparent url(../images/btn-a.png) no-repeat scroll bottom right;
    color:#fff;
    display:block;
    float:left;
    font-family:'DroidSerifItalic';
	font-size:1.4em;
	font-weight:normal;
	text-transform:none;
	font-style:normal;
	letter-spacing:normal;
    height:29px;
    margin-right:0px;
    padding-right:0px; /* sliding doors padding */
    text-decoration:none;}

#blockleftbtn a.continue span{
    background:transparent url(../images/btn-span.png) repeat-x bottom left;
	width:125px;
	height:23px;
    display:block;
    padding:6px 0 0 55px;}
	
#blockleftbtn a.continue:hover{
    background-position:top right;
    color:#fff;
	cursor:pointer;}

#blockleftbtn a.continue:hover span{
    background-position:top left;
    padding:6px 0 0 55px;
	color:#fff;}
	
/* middle button */
#blockmiddlebtn a.continue{
    background:transparent url(../images/btn-a.png) no-repeat scroll bottom right;
    color:#fff;
    display:block;
    float:left;
    font-family:'DroidSerifItalic';
	font-size:1.4em;
	font-weight:normal;
	text-transform:none;
	font-style:normal;
	letter-spacing:normal;
    height:29px;
    margin-right:0px;
    padding-right:0px; /* sliding doors padding */
    text-decoration:none;}

#blockmiddlebtn a.continue span{
    background:transparent url(../images/btn-span.png) repeat-x bottom left;
	width:125px;
	height:23px;
    display:block;
    padding:6px 0 0 55px;}
	
#blockmiddlebtn a.continue:hover{
    background-position:top right;
    color:#fff;
	cursor:pointer;}

#blockmiddlebtn a.continue:hover span{
    background-position:top left;
    padding:6px 0 0 55px;
	color:#fff;}
	
/* right button */
#blockrightbtn a.continue{
    background:transparent url(../images/btn-a.png) no-repeat scroll bottom right;
    color:#fff;
    display:block;
    float:left;
    font-family:'DroidSerifItalic';
	font-size:1.4em;
	font-weight:normal;
	text-transform:none;
	font-style:normal;
	letter-spacing:normal;
    height:29px;
    margin-right:0px;
    padding-right:0px; /* sliding doors padding */
    text-decoration:none;}

#blockrightbtn a.continue span{
    background:transparent url(../images/btn-span.png) repeat-x bottom left;
	width:125px;
	height:23px;
    display:block;
    padding:6px 0 0 55px;}
	
#blockrightbtn a.continue:hover{
    background-position:top right;
    color:#fff;
	cursor:pointer;}

#blockrightbtn a.continue:hover span{
    background-position:top left;
    padding:6px 0 0 55px;
	color:#fff;}
	
	
/* =============================================================================================== PRINT BUTTON === */
/* ------ positioning */
#printbtn{
	margin:5px auto;
	width:184px;}
	
/* ------ the buttons */
/* print button */
#printbtn a.clickhere{
    background:transparent url(../images/btn-a.png) no-repeat scroll bottom right;
    color:#fff;
    display:block;
    float:left;
    font-family:'DroidSerifItalic';
	font-size:1.4em;
	font-weight:normal;
	text-transform:none;
	font-style:normal;
	letter-spacing:normal;
    height:29px;
    margin-right:0px;
    padding-right:0px; /* sliding doors padding */
    text-decoration:none;}

#printbtn a.clickhere span{
    background:transparent url(../images/btn-span.png) repeat-x bottom left;
	width:136px;
	height:23px;
    display:block;
    padding:6px 0 0 44px;}
	
#printbtn a.clickhere:hover{
    background-position:top right;
    color:#fff;
	cursor:pointer;}

#printbtn a.clickhere:hover span{
    background-position:top left;
    padding:6px 0 0 44px;
	color:#fff;}
	
	
/* =============================================================================================== FORM BUTTONS === */
input.button{ /* for IE7 */
	text-indent:-9000px;
	text-transform:capitalize;}

/* --- submit btn */
#productrequest #submit,
#careersform #submit,
#contactform #submit{
	margin:5px auto;
	float:none;
	width:184px;
	height:29px;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/submit-btn.png) no-repeat 0 0;
	color:#fff;
	display:block;
	cursor:pointer !important;
	cursor:hand;}

#productrequest #submit:hover,
#careersform #submit:hover,
#contactform #submit:hover{
	background-position:0 -29px;}