/* Content Layout CSS Document */

/* =============================================================================================== THE BASICS === */
/* ------ Headings */
h1{
	font-family:'DroidSerifRegular';
	font-size:2.6em;
	margin:0 auto 5px;
	padding:0;
	text-align:left;
	color:#2f3a56;
	font-weight:normal;}
	
h2{
	font-family:'DroidSerifItalic';
	font-size:1.7em;
	margin:3px auto 5px auto;
	padding:0;
	text-align:left;
	color:#00b1ed;
	font-weight:normal;}
	
h2.normal{
	font-size:1.3em; font-family:'DroidSerifRegular'; margin:-10px 0 10px;}
	
h3{
	font-family:'DroidSerifRegular';
	font-size:1.3em;
	margin:0 auto;
	padding:7px 6px 8px;
	text-align:left;	
	font-weight:normal;
	color:#fff;
	background:#00b1ed;
	border-bottom:1px solid #eaeaea;}
	
h3.center{
	text-align:center;}
	
h3.specialinfo{
	color:#2f3a56;
	background:#eaeaea;
	text-align:center;
	border:1px solid #d0d0d0;}
	
h4.signature{
	font-family:'DancingScriptOTRegular';
	font-size:2.4em;
	margin:-6px auto 5px;
	padding:0;
	/*color:#d53027;*/
	color:#212121;
	font-weight:normal;
	line-height:0.8em;}
	
h4.subinfo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	color:#999;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:1.1em;}
	
	
/* ------ Paragraphs and Links */
/* p{
	margin:3px auto 14px auto;
	line-height:18px;
	text-align:justify;
	}
	 */
a:link,
a:visited{
	color:#134c71;
	text-decoration:underline;}
	
a:hover,
a:active{
	color:#3f89b9;
	text-decoration:underline;}
	
/* ------ Random Basics */
#formdivide{
	width:auto; border-top:1px dashed #d0d0d0; margin:0 auto; height:2px;}
	
.redstar{
	color:red;}
	
#flasharea{
	width:auto; height:auto; margin:0 auto 10px auto; text-align:center; background:#eaeaea; border:1px solid #d0d0d0; padding:4px;}
	
.lb{
	color:#00b1ed;}
	
#divide{
	width:auto; height:2px; margin:8px auto; background:#d0d0d0;}
	
/* ------ Definition Lists */
dl#support{
	margin:0;
	padding:0;}
	
dl#support dt{
	font-family:'DroidSerifRegular';
	font-size:1.2em;
	margin:0 auto 5px;
	padding:0;
	text-align:left;
	color:#212121;
	font-weight:normal;}
	
dl#support dd{
	margin:0 auto 14px 0;
	border-bottom:1px dashed #eaeaea;
	padding-bottom:4px;
	color:#777;}
	
	
dl#supportcon{
	margin:0;
	padding:0;}
	
dl#supportcon dt{
	font-family:'DroidSerifRegular';
	margin:0 auto 5px; padding:4px; text-align:center; background:#00b1ed; color:#fff; font-size:1.2em;}
	
dl#supportcon dd{
	margin:0 auto 8px; padding:0; text-align:center; border-bottom:1px dashed #eaeaea; padding-bottom:3px;}
	
dl#supportcon dd.nodash{
	border-bottom:none;}
	
dl#supportcon dd p{
	text-align:center;}
	
dl#supportcon dd h4{
	text-align:center;
	font-family:'DroidSerifItalic';
	font-weight:normal;
	margin:0 auto;
	padding:0;
	font-size:1.1em;}
	
	
dl#glossary{
	margin:0.5em auto auto 0;
	padding:0.5em 0 0 0;}
	
dl#glossary dt{
	font-family:'DroidSerifRegular';
	font-size:1.4em;
	margin:0 auto 5px;
	padding:0;
	text-align:left;
	color:#00b1ed;
	font-weight:normal;}
	
dl#glossary dt.black{
	color:black;}
	
dl#glossary dd{
	margin:0 auto 22px 0;
	border-left:3px solid #d0d0d0;
	padding-left:4px;}
	
dl#glossary dd p{
	margin:0 auto;}
	
/* ------ Unordered Lists */
/* all links */
ul.alllinks{
	list-style:none;
	margin:5px auto;
	padding:0;
	width:auto;
	text-decoration:none;}

ul.alllinks li{
	border-bottom:1px solid #f6f6f6;
	text-align:left;
	color:#333;
	padding:0;
	text-decoration:none;
	font-weight:normal;
	font-size:1em;}
	
ul.alllinks li.first{
	border-top:1px solid #f6f6f6;}

ul.alllinks a{
	padding:8px 7px 8px 7px;
	text-decoration:none;
	color:#333;}	

ul.alllinks li a,
ul.alllinks li a.visited{
	color:#333;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;
	background:url(../images/gray-bullet.png) 4px 14px no-repeat;
	padding-left:14px;}
	
ul.alllinks li a:hover,
ul.alllinks li a.active{
	color:#2f3a56;
	text-decoration:none;
	text-transform:none;
	font-weight:normal;
	background:#f6f6f6 url(../images/lightblue-bullet.png) 4px 14px no-repeat;
	padding-left:14px;}
	
/* ------ Signature */
#signature{
	width:auto;
	margin:0 auto;
	float:left;
	text-align:left;
	color:#777;
	font-size:1.2em;}
	
#signature h1{
	font-family:'DancingScriptOTRegular';
	font-size:2em;
	color:#212121;
	font-weight:normal;
	margin:0;
	padding:0;}
	
/* ------ Tables */
/* large */
table#large{
	width:980px;
	margin:0 auto;}
	
#large tr.levelone{
	font-family:'DroidSerifRegular';
	background:#000;
	color:#00b1ed;
	font-size:1.2em;}
	
#large tr.leveltwo{
	font-family:Arial, Helvetica, sans-serif;
	background:#545454;
	color:#fff;
	font-size:1em;}
	
#large th{
	text-align:center;
	font-weight:normal;
	padding:5px;}
	
#large td{
	text-align:center;
	padding:5px;
	height:30px;
	width:78px;}
	
#large td.product{
	background:#d0d0d0;
	text-align:left;}
	
#large td.x{
	background:#00b1ed;
	color:#fff;
	font-weight:bold;}
	
/* tool order */	
table#toolorder{
	width:670px;
	margin:0 auto;}
	
#toolorder tr.yellow{
	font-family:'DroidSerifBold';
	background:#f4d216;
	color:#333;}
	
#toolorder th{
	text-align:left;
	font-weight:normal;
	padding:5px;}	
	
#toolorder td{
	padding:5px;}
	
/* contactus */	
table#contactus{
	width:670px;
	margin:0 auto;}
	
#contactus tr.yellow{
	font-family:'DroidSerifBold';
	background:#f4d216;
	color:#333;}
	
#contactus th{
	text-align:left;
	font-weight:normal;
	padding:5px;}	
	
#contactus td{
	padding:5px;}
	

/* =============================================================================================== FORM STUFF === */
/* ------ tool order */
#toolorder div#label{
	width:136px;
	margin:0 10px 0 0;
	float:left;
	font-weight:bold;
	padding:5px 5px 5px 5px;
	border-right:1px solid #eaeaea;}
	
#toolorder div#answer{
	width:290px;
	margin:0;
	float:left;}
	
#answer input.field{ /* for the input field */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer input.field:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer input.field:focus{
	border-color:#efefef;
	background:#fff;
	color:#333;}
	
#answer .selections{ /* for the selection box */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer .selections:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer .selections:focus{
	border-color:#efefef;
	background:#fff;
	color:#333333;}
	
#answer .textarea{ /* for the textarea */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer .textarea:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer .textarea:focus{
	border-color:#efefef;
	background:#fcfcfc;
	color:#333;}
	
	
/* ------ contactus */
#contactus div#label{
	width:70px;
	margin:0 10px 0 0;
	float:left;
	font-weight:bold;
	padding:5px 5px 5px 5px;
	border-right:1px solid #eaeaea;}
	
#contactus div#labelwide,
#toolorder div#labelwide{
	width:640px;
	margin:0 0 0 0;
	float:left;
	font-weight:bold;
	padding:5px 5px 5px 5px;}
	
#contactus div#answer{
	width:180px;
	margin:0;
	float:left;}
	
#answer input.field{ /* for the input field */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer input.field:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer input.field:focus{
	border-color:#efefef;
	background:#fff;
	color:#333;}
	
#answer .selections{ /* for the selection box */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer .selections:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer .selections:focus{
	border-color:#efefef;
	background:#fff;
	color:#333333;}
	
#answer .textarea{ /* for the textarea */
	padding:2px;
	width:auto;
	border:1px solid #d2d2d2;
	background:#efefef;
	font:normal 1em Arial, Helvetica, sans-serif;
	-moz-border-radius:0.1em;
	-khtml-border-radius:0.1em;
	color:#888;}
	
#answer .textarea:hover{
	border-color:#d2d2d2;
	background:#fcfcfc;
	color:#333;}
	
#answer .textarea:focus{
	border-color:#efefef;
	background:#fcfcfc;
	color:#333;}
	
	
/* =============================================================================================== INFORMATION BREAKDOWN === */
/* ------ infobreaks */
#infobreaks{
	width:auto;
	margin:0 auto 5px auto;
	border-bottom:1px solid #eaeaea;}
	
#iblinks,
#publications{
	width:auto;
	margin:0px auto;
	border-top:1px dashed #eaeaea;
	padding:5px 0;}
	
#iblinks ul{
	list-style:none;
	width:670px;
	margin:0;
	padding:0;
	float:left;}
	
#iblinks li{
	float:left;
	list-style:none;
	width:335px;
	display:block;
	font-size:1em;
	font-weight:normal;
	text-align:left;
	margin:0 auto 0px;
	cursor:pointer;
	color:#333;
	padding:0;
	text-decoration:none;}
	
#iblinks a{
	padding:8px;
	text-decoration:none;
	color:#333;}
	
/* product info */
#iblinks li.productinfo a,
#iblinks li.productinfo a.visited{
	font-size:1em;
	color:#333;
	background:url(../images/icon-productinfo-lightblue.png) 4px 4px no-repeat;
	padding-left:28px;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#iblinks li.productinfo a:hover,
#iblinks li.productinfo a:active{
	color:#00b1ed;
	background:#f6f6f6 url(../images/icon-productinfo-blue.png) 4px 4px no-repeat;
	padding-left:28px;
	text-decoration:none;
	text-transform:none;}
	
/* brochure */
#iblinks li.brochure a,
#iblinks li.brochure a.visited{
	font-size:1em;
	color:#333;
	background:url(../images/icon-brochure-lightblue.png) 4px 4px no-repeat;
	padding-left:28px;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#iblinks li.brochure a:hover,
#iblinks li.brochure a:active{
	color:#00b1ed;
	background:#f6f6f6 url(../images/icon-brochure-blue.png) 4px 4px no-repeat;
	padding-left:28px;
	text-decoration:none;
	text-transform:none;}
	
/* website */
#iblinks li.website a,
#iblinks li.website a.visited{
	font-size:1em;
	color:#333;
	background:url(../images/icon-world-lightblue.png) 4px 3px no-repeat;
	padding-left:30px;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#iblinks li.website a:hover,
#iblinks li.website a:active{
	color:#00b1ed;
	background:#f6f6f6 url(../images/icon-world-blue.png) 4px 3px no-repeat;
	padding-left:30px;
	text-decoration:none;
	text-transform:none;}
	
/* email */
#iblinks li.email a,
#iblinks li.email a.visited{
	font-size:1em;
	color:#333;
	background:url(../images/icon-email-lightblue.png) 4px 6px no-repeat;
	padding-left:33px;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#iblinks li.email a:hover,
#iblinks li.email a:active{
	color:#00b1ed;
	background:#f6f6f6 url(../images/icon-email-blue.png) 4px 6px no-repeat;
	padding-left:33px;
	text-decoration:none;
	text-transform:none;}
	
#publications ul{
	list-style:none;
	width:330px;
	margin:0;
	padding:0;
	float:left;}
	
#publications li{
	float:left;
	list-style:none;
	width:320px;
	display:block;
	font-size:1em;
	font-weight:normal;
	text-align:left;
	margin:0 auto 0px;
	cursor:pointer;
	color:#333;
	padding:0;
	text-decoration:none;}
	
#publications a{
	padding:8px;
	text-decoration:none;
	color:#333;}
	
/* pdf */
#publications li.pdf a,
#publications li.pdf a.visited{
	font-size:1em;
	color:#333;
	background:url(../images/pdficon.png) 104px 4px no-repeat;
	padding-left:140px;
	padding-top:14px;
	text-decoration:none;
	display:block;
	width:auto;
	text-transform:none;}
	
#publications li.pdf a:hover,
#publications li.pdf a:active{
	color:#d53027;
	background:#f6f6f6 url(../images/pdficon-bright.png) 104px 4px no-repeat;
	padding-left:140px;
	padding-top:14px;
	text-decoration:none;
	text-transform:none;}
	

/* =============================================================================================== Content Blocks === */
/* ------ 3contentblocks */
#cb3first,
#cb3second{
	width:320px; margin:0 10px 10px 0; float:left;}
	
#cb3third{
	width:320px; margin:0 0 10px 0; float:left;}
	
/* ------ 2contentblocks */
#cb2first{
	width:330px; margin:0 10px auto 0; float:left;}
	
#cb2second{
	width:330px; margin:0 0 auto 0; float:left;}
	
/* ------ 2verysmallcontentblocks */
#cb2vsfirst{
	width:190px; margin:0 11px auto 0; float:left;}
	
#cb2vssecond{
	width:284px; margin:0 0 auto 0; float:left;}
	
/* ------ 3smallcontentblocks */
#cb3smallfirst,
#cb3smallsecond{
	width:216px; margin:0 11px auto 0; float:left;}
	
#cb3smallthird{
	width:216px; margin:0 0 auto 0; float:left;}
	
/* ------ 2contentblocks with style */
#cb2firstultra{
	width:320px; margin:0 10px 10px 0; float:left; padding:4px; border:1px solid #d0d0d0;}
	
#cb2secondultra{
	width:320px; margin:0 0 10px 0; float:left; padding:4px; border:1px solid #d0d0d0;}
	
#cb2firstultra.top,
#cb2secondultra.top{
	border-top:none;}
	
#cb2firstultra.height,
#cb2secondultra.height{
	height:122px;}
	
#cb2firstultra.heightandtop,
#cb2secondultra.heightandtop{
	height:122px;
	border-top:none;}
	
/* ------ 2BIGcontentblocks */
#cb2firstBIG{
	width:485px; margin:0 10px auto 0; float:left;}
	
#cb2secondBIG{
	width:485px; margin:0 0 auto 0; float:left;}
	
#cb2secondBIG p{
	line-height:1.3em;}	
	
/* ------ 4contentblocks */
#cb4first,
#cb4third{
	width:238px; margin:0 9px 10px 0; float:left}
	
#cb4second{
	width:238px; margin:0 10px 10px 0; float:left;}
	
#cb4fourth{
	width:238px; margin:0 0 10px 0; float:left;}
	
/* ------ 5contentblocks */
#cb5first,
#cb5second,
#cb5third,
#cb5fourth{
	width:192px; margin:0 5px 5px 0; float:left;}
	
#cb5fifth{
	width:192px; margin:0 0 auto 0; float:left;}
	
	
/* =============================================================================================== ACCORDIONS === */
/* ------ management team */
#accordion{
	margin:0;
	padding:0;}
	
#accordion div#management{
	margin:0 auto 14px auto;}
	
#accordion div#title{
	margin:0 auto;
	background:#2f3a56;
	border-bottom:1px solid #eaeaea;
	font-family:'DroidSerifRegular';
	font-size:1.3em;
	margin:0 auto;
	padding:6px 5px 5px;
	text-align:left;	
	font-weight:normal;}
	
#accordion div#title.center{
	text-align:center;}
	
#accordion div#title span.position{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:normal;}
	
#accordion div#title:link,
#accordion div#title:visited{
	background:#2f3a56;
	border-bottom:1px solid #eaeaea;}
	
#accordion div#title:hover,
#accordion div#title:active{
	background:#344264;
	border-bottom:1px solid #eaeaea;
	cursor:pointer;}
	
#accordion div#title a:link,
#accordion div#title a:visited{
	color:#f4d216;
	text-decoration:none;}
	
#accordion div#title a:hover,
#accordion div#title a:active{
	color:#eaeaea;
	text-decoration:none;}
	
	
/* =============================================================================================== LOCATIONS === */
/* ------ map */
#maplocations{
	width:980px;
	height:633px;
	position:relative;}	

#map{
	margin:0;
	padding:0;
	width:980px;
	height:633px;
	background:url(../images/RyanUSAMap.jpg) top left no-repeat #fff;
	font-family:arial, helvetica, sans-serif;
	font-size:1em;}
	
#map li{
	margin:0;
	padding:0;
	list-style:none;}
	
#map li a{
	position:absolute;
	display:block;
	background:url(../images/blank.gif);
	text-decoration:none;}
	
#map li a span{
	display:none;}
	
#map li a span strong{
	color:#00b1ed;
	font-size:1.1em;}
	
#map li a:hover span{
	position:relative;
	display:block;
	width:220px;
	left:20px;
	top:20px;
	padding:5px;
	border:1px solid #ccc;
	background:#000;
	text-decoration:none;
	color:#fff;
	filter:alpha(opacity=90);
	opacity:0.9;}
	
#map a.casper{
	top:205px;
	left:331px;
	width:80px;
	height:80px;}
	
#map a.denver{
	top:279px;
	left:351px;
	width:80px;
	height:80px;}
	
#map a.okc{
	top:370px;
	left:476px;
	width:80px;
	height:80px;}
	
#map a.midland{
	top:450px;
	left:390px;
	width:80px;
	height:80px;}
	
#map a.dallas{
	top:440px;
	left:485px;
	width:80px;
	height:80px;}
	
#map a.houston{
	top:505px;
	left:495px;
	width:80px;
	height:80px;}
	
#map a.lafayette{
	top:475px;
	left:579px;
	width:80px;
	height:80px;}
	
	
/* =============================================================================================== MILESTONES === */
/* ------ timeline */
#timeline{
	background:url(../images/timeline-bg.gif) center top repeat-y;}
	
#timelineleft{
	width:331px; margin:0; float:left;}
	
#timelineright{
	width:331px; margin:0; float:right;}
	
dl#time{
	margin:5px auto;
	padding:0;}
	
dl#time dt{
	font-family:'DroidSerifRegular';
	font-size:1.2em;
	margin:0 auto 5px;
	padding:2px 6px 0px;
	text-align:left;
	color:#00b1ed;
	font-weight:normal;}
	
dl#time dd{
	margin:0 auto 14px 0;
	border-bottom:1px dashed #eaeaea;
	padding:2px 6px 4px;}